
@{
    Layout = "_Layout";
    ViewData["Title"] = "Shopping";
}

<div class="row mb-2" id="main_list">


</div>


@section Scripts {
    <script src="~/js/toos.js"></script>

    <script>
        window.onload = function () {

        };
    </script>
}